{{> header}}

<div class="user-profile">

    <img id="user-avatar-url" src="{{username.avatarUrl}}" alt="user-profile">
    <h1>{{username.username}}</h1>
    <h2>{{username.email}}</h2>

    <a id="deleteUserButton" href="#/user/delete/{{username._id}}">DELETE USER!</a>

    <p id="user-listings-title">User Memes</p>
    <div class="user-meme-listings">
        {{#each memes}}
            {{> memeList}}
        {{/each}}
        <p class="no-memes">No memes in database.</p>
    </div>
</div>

{{> footer}}