{{> header}}

<section id="create-receipt-view">
    <h1>Create Receipt</h1>
    <div class="table">
        {{#each entries}}
            {{> entry}}
        {{/each}}
        <div class="row">
            {{> entryForm}}
        </div>
        <div class="table-foot">
            {{> checkoutForm}}
        </div>
    </div>
</section>

{{> footer}}